/* nav bar */
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4caf50;
}
/* nav bar end */

/* cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 20%;
  border-radius: 5px;
  margin-top: 5px;
  padding: 0;
  float: left;
  cursor: pointer;
}

.card img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 20vw;
  object-fit: cover;
}

.card h4 {
  font-size: xx-large;
  font-family: sans-serif;
  margin: 0;
  text-align: center;
}

.card p {
  text-align: center;
  font-style: italic;
  font-size: large;
}

.card:hover {
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
}

.card div.container {
  padding: 2px 16px;
}
/* cards end */

body {
  /* page background */
  background-color: lightgray;
}

html {
  padding: 0;
  margin: 0;
}
